



<div class="content">


<form class="needs-validation" novalidate #f="ngForm" (ngSubmit)=" f.form.valid && addProduct(f)">
 
  <div class="form-group">
    <label>id</label>
    <input type="number" name="id" class="form-control" [(ngModel)]="product.id" #id="ngModel" [ngClass]="{ 'is-invalid': f.submitted && id.invalid }" required>
    <div class="invalid-feedback" *ngIf="f.submitted && id.invalid">
      <p *ngIf="name.errors.required">id is required</p>
    </div>
  </div>

  <div class="form-group">
    <label>name</label>
    <input type="text" name="name" class="form-control" [(ngModel)]="product.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required>
    <div class="invalid-feedback" *ngIf="f.submitted && name.invalid">
      <p *ngIf="name.errors.required">Name is required</p>
    </div>
  </div>

  <div class="form-group">
    <label>price</label>
    <input type="text" name="price" class="form-control" [(ngModel)]="product.price" #price="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" required>
    <div class="invalid-feedback" *ngIf="f.submitted && price.invalid">
      <p *ngIf="price.errors.required">price is required</p>
    </div>
  </div>

  <div class="form-group">
    <label>quantity</label>
    <input type="number" name="quantity" class="form-control" [(ngModel)]="product.quantity"  #quantity="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && quantity.invalid }"  required>
    <div class="invalid-feedback" *ngIf="f.submitted && quantity.invalid">
      <p *ngIf="quantity.errors.required">quantity is required</p>
    </div>
  </div> 
  <div class="form-group">
    <label>discount</label>
    <input type="number" name="discount" class="form-control" [(ngModel)]="product.discount"   #discount="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && discount.invalid }"  required>
    <div class="invalid-feedback" *ngIf="f.submitted && quantity.invalid">
      <p *ngIf="discount.errors.required">discount is required</p>
    </div>
  </div> 
  <div class="form-group">
    <label>image</label>
    <input type="text" name="quantity" class="form-control" [(ngModel)]="product.image" required>
  </div> 



  <button class="btn btn-primary" type="submit ">add</button>
</form>

</div>
<!--
<form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="name" class="form-control" [(ngModel)]="model.name" #name="ngModel"
      [ngClass]="{ 'is-invalid': userForm.submitted && name.invalid }" required>
    <div class="invalid-feedback" *ngIf="userForm.submitted && name.invalid">
      <p *ngIf="name.errors.required">Name is required</p>
    </div>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
      [ngClass]="{ 'is-invalid': userForm.submitted && email.invalid }" email required>
    <div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
      <div *ngIf="email.errors.required">Email is required</div>
      <div *ngIf="email.errors.email">Must be a valid email address</div>
    </div>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
      [ngClass]="{ 'is-invalid': userForm.submitted && password.invalid }" minlength="8" required>
    <div *ngIf="userForm.submitted && password.invalid" class="invalid-feedback">
      <div *ngIf="password.errors.required">Password is required</div>
      <div *ngIf="password.errors.minlength">Password should be at least 8 characters long</div>
    </div>
  </div>

  <div class="form-group">
    <label>Hobbies</label>
    <select class="form-control" name="hobbies" [(ngModel)]="hobbies">
      <option value="">Select an option</option>
      <option *ngFor="let hoby of Hobbies" [value]="hoby">
        {{hoby}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <button class="btn btn-danger btn-block">Submit</button>
  </div>
</form>-->